<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Gapminder tools for offline export -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <link href="libs/vizabi.css" rel="stylesheet" type="text/css" >
    <link href="libs/bubblechart.css" rel="stylesheet" type="text/css">
    <link href="libs/bubblemap.css" rel="stylesheet" type="text/css">
    <link href="libs/mountainchart.css" rel="stylesheet" type="text/css">
    <link href="libs/barrankchart.css" rel="stylesheet" type="text/css">
    <link href="libs/linechart.css" rel="stylesheet" type="text/css">

    <script src="libs/vizabi.js"></script>
    <script src="libs/bubblechart.js"></script>
    <script src="libs/bubblemap.js"></script>
    <script src="libs/mountainchart.js"></script>
    <script src="libs/barrankchart.js"></script>
    <script src="libs/linechart.js"></script>
    <script src="libs/vizabi-ddfcsv-reader.js"></script>
    <!-- /Gapminder tools -->

    <!-- font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">


    <title>Data4Good Center</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

      <!-- Google Analytics site tag -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128264329-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-128264329-1');
      </script>
  </head>
  <body>
      Hello
    <li><a href="/website">website</a>

  </body>
</html>