certifi==2019.11.28
chardet==3.0.4
codecov==2.0.15
coverage==5.0.3
Django==2.1.1
django-appconf==1.0.3
django-compressor==2.4
django-sass-processor==0.7.4
django2-semantic-ui==1.2.2
idna==2.8
libsass==0.20.0
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.13.0
urllib3==1.25.7
