{% load static %}
<div class="ui container">
  <div class="ui large secondary pointing menu">
    <a href="/" class="item">
        <img class="logo" src="{% static 'web/logo.png' %}" alt="Data4Good logo">
    </a>
    <a href="#about"  class="item">
        About
    </a>
    <a href="#projects" class="item">
        Projects
    </a>
    <!--TODO: Release 2.0-->
    <!-- <a href="/datasets" class="item">
        Data Sets
    </a> -->
    <!-- <a href="/contribute" class="item">
        Contribute
    </a> -->
    <a href="#faq"  class="item">
        FAQ
    </a>
    <!--TODO: Authentication, as a stretch goal-->
    <!-- <div class="right item">
        <button class="ui button">
        </button>
    </div> -->
  </div>
</div>
