{% load static %}
<!-- <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo uk-active">
            <img class="logo" src="{% static 'website/logo.png' %}" alt="My image">
            Data4Good
        </a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Services</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</nav> -->
<div class="ui container">
  <div class="ui large secondary pointing menu">
    <!-- <a class="toc item">
      <i class="sidebar icon"></i>
    </a> -->
    <a href="/" class="item">
        <img class="logo" src="{% static 'website/logo.png' %}" alt="Data4Good logo">
    </a>
    <a href="/organization"  class="item">
        Our Organization
    </a>
    <a href="/projects" class="item">
        Projects
    </a>
    <!--TODO: Release 2.0-->
    <!-- <a href="/datasets" class="item">
        Data Sets
    </a> -->
    <a href="/contribute" class="item">
        Contribute
    </a>
    <a href="/faq"  class="item">
        FAQ
    </a>
    <!--TODO: Authentication, as a stretch goal-->
    <!-- <div class="right item">
        <button class="ui button">
        </button>
    </div> -->
  </div>
</div>
