
{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}
<!-- <div style="background-image: url('/static/images/cover_networks.jpg')"> -->

<div>
    {% include 'web/_nav.html' %}
    <div class="ui main text container" style="min-height: 625px;">
        <h1 class="ui header">Contribute</h1>

        <h2 class="ui header">Tasks</h2>
        <p>
          {% if task_list %}
          <div class="task_gallery">
            <!-- TODO: Decide which task UI to implement. -->
            {% for task in task_list %}
              <!--A Card Task-->
                <div class="ui card">
                  <div class="content">
                    <h3 class="ui header">{{ task.name }}</p>
                    <h4 class="ui header">Description:</h4>
                    <p class="task_desc">{{ task.description }}</p>
                    <div class="ui button" tabindex="0" style="margin-left: 60%;">
                      Details
                    </div>
                  </div>
                </div>
              <!-- End Card Task -->

              <!-- {% if ad.owner == user %}
                (<a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
                <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>)
              {% endif %} -->

              <div class="ui modal">
                <div class="header">
                  {{ task.name }}
                </div>
                <div>
                  <div class="description">
                    <h4 class="ui header">Description:</h4>
                    <p class="task_desc">{{ task.description }}</p>                
                  </div>
                </div>
                <div class="actions">
                  <div class="ui cancel button">Cancel</div>
                  <div class="ui approve button">OK</div>
                </div>
              </div>
            {% endfor %}


        </div>
            {% else %}
              <p>There are no tasks in the database.</p>
            {% endif %}
        </p>
        <!-- <h2 class="ui header">Add a Task</h2> -->
    </div>
</div>

<script type="text/javascript">
  $('.ui.button').click(function(){
        $('.ui.modal').modal('show');
    });
</script>
{% endblock %}

