
{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}
<!-- <div style="background-image: url('/static/images/cover_networks.jpg')"> -->
<div>
    {% include 'web/_nav.html' %}
    <div class="ui main text container">
        <h1 class="ui header">Contribute</h1>

        <h2 class="ui header">Tasks</h2>
        <p>
          {% if task_list %}
          <div class="task_gallery">
            {% for task in task_list %}
              <!--A Task-->
              <div class="task_cell flip-card item" tabindex="0">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p>{{ task.name }}</p>
                  </div>
                  <div class="task_description flip-card-back"> 
                    <p class="task_title">{{ task.name }}</p>
                    <p class="task_desc">{{ task.description }}</p>
                    <div class="ui primary test button" tabindex="0">
                      Details
                    </div>
                  </div>
                </div>
              </div>
              <!--End Task-->
              <!-- {% if ad.owner == user %}
                (<a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
                <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>)
              {% endif %} -->
            {% endfor %}
        </div>
            {% else %}
              <p>There are no ads in the database.</p>
            {% endif %}
        </p>        
    </div>
</div>

<script type="text/javascript">
  $('.test.modal').modal('attach events', '.test.button', 'show');
</script>
{% endblock %}

