
{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}
<!-- <div style="background-image: url('/static/images/cover_networks.jpg')"> -->
<div>
    {% include 'web/_nav.html' %}
    <div class="ui main text container" style="min-height:625px">
        <h1 class="ui header">FAQ</h1>
        <div class="ui divided items faq">
            <div class="item">
              <div class="content">
                <a class="header">What is Data4Good?</a>
                <div class="meta">
                  <span>UMSI Data4Good center brings together non-profit organizations' data into larger datasets for benchmarking and trend analysis.</span>
                </div>
              </div>
            </div>
            <div class="item">
                <div class="content">
                  <a class="header">What projects is Data4Good working on?</a>
                  <div class="meta">
                    <span>Find our most recent work on the Projects page, and click on each project listed for more details.</span>
                  </div>
                </div>
              </div>
            <div class="item">
              <div class="content">
                <a class="header">How do I get in touch with Data4Good?</a>
                <div class="meta">
                  <span>Reach us at:
                    <br><br>
                    ehapp@umich.edu
                    <br><br>
                    Data4Good Center
                    <br>
                    School of Information
                    <br>
                    4322 North Quad
                    <br>
                    105 S. State Street
                    <br>
                    Ann Arbor, MI 48109-1285 </span>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


{% endblock %}
