
{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}

  <div class="pusher">
    {% include 'web/_nav.html' %}
    <div class="ui container header hero">
      <div class="ui text container center aligned">
        <h1 class="ui header" id="site-title">
          Data4Good
        </h1>
        <h2>Make data, training, and implementation connect to make nonprofit organizations stronger.</h2>
      </div>
    </div>
  </div>

  <div class="ui vertical container">
      <div class="ui vertical stripe segment">
        <h3 class="ui header horizontal divider">Featured Tools</h3>
        <div class="tool-cards">
          <a href="{% url 'web:cio4good'%}" class="item" >
            <div class="ui card" id="visualization-card">
              <div class="content">
                <!-- <img class="visualization_thumb" width="100%" src="{% static 'website/visualization_tool_thumb.png' %}" alt="Thumbnail of CIO4Good visualization"> -->
                <h2>CIO4Good Visualizations</h2>
              </div>
            </div>
          </a>
          <a href="{% url 'web:pdfparsing'%}" class="item" >
            <div class="ui card" id="visualization-card">
              <div class="content">
                <h2>PDF Parser</h2>
                <br>
              </div>
            </div>
          </a>
          <!-- <div class="ui card">
              <div class="content">
                <div class="ui placeholder">
                  <div class="square image"></div>
                </div>
                <h4>CIO4Good Benchmarking</h4>
              </div>
          </div> -->
        </div>
      </div>
    </div>
{% endblock %}