{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}

<div>
    {% include 'web/_nav.html' %}
    <div class="ui main text container">
        <h1 class="ui header">Refugee Demographic & Connectivity Trends in Greece and Serbia</h1>
        <p>What can we learn about refugees' access to the internet and mobile device ownership from a high level perspective?</p>   
        <a href="https://drive.google.com/file/d/1k5KTfw5x5wjicFecdyaE0qWkXwsbbNgY/view">
            <img alt="Research Poster">
        </a>
    </div>
</div>

{% endblock %}
