
{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}
<!-- <div style="background-image: url('/static/images/cover_networks.jpg')"> -->
<div>
    {% include 'web/_nav.html' %}
    <div class="ui main text container">
        <h1 class="ui header">CIO4Good</h1>

        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="Survey_Data">Survey Data</a>
          <a class="item" data-tab="Visualizations">Visualizations</a>
          <a class="item" data-tab="Benchmarking">Benchmarking</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="Survey_Data">
          Survey Data
          <script type='text/javascript' src='https://tableau.dsc.umich.edu/javascripts/api/viz_v1.js'></script>
          <div class='tableauPlaceholder' style='width: 858px; height: 400px;'>
            <object class='tableauViz' width='858' height='400' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Ftableau.dsc.umich.edu%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='&#47;t&#47;UM-Academic' />
              <param name='name' value='CIO4GoodVisualizations&#47;CountofOrganizationsResponded' />
              <param name='tabs' value='yes' />
              <param name='toolbar' value='yes' />
              <param name='showAppBanner' value='false' />
            </object></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="Visualizations">
          Visualizations
          <script type='text/javascript' src='https://tableau.dsc.umich.edu/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1560px; height: 727px;'>
            <object class='tableauViz' width='1560' height='727' style='display:none;'
            ><param name='host_url' value='https%3A%2F%2Ftableau.dsc.umich.edu%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='&#47;t&#47;UM-Academic' />
            <param name='name' value='CIO4GoodVisualizations&#47;ITOperatingBudgetasaPercentofRevenue' />
            <param name='tabs' value='yes' /><param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' /></object></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="Benchmarking">
          Benchmarking
          <script type='text/javascript' src='https://tableau.dsc.umich.edu/javascripts/api/viz_v1.js'></script>
          <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000' height='827' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Ftableau.dsc.umich.edu%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='&#47;t&#47;UM-Academic' /
            ><param name='name' value='v2BenchmarkingDashboard&#47;Benchmarking' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' /></object></div>
          </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="Research">
          Research
        </div>

</div>

<script>
  console.log("Hello, I'm here.")
  $('.menu.item').tab();
</script>
{% endblock %}