
<!-- NOTE: This page is currently not in use. -->

{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}
<head>
  <style>
    .ui.card {
      width: 70vw !important;
    }

    .project-card {
      display: flex;
      flex-direction: row;
    }

    .body-content {
      display: flex;
      flex-direction: row;
    }

  </style>
</head>
<body>
  <div style="height: 100vh">
    {% include 'web/_nav.html' %}
      <div class="ui main text container">
          <h1 class="ui header">Projects</h1>
            {% if project_list %}
            <div class="ui cards">
              {% for project in project_list %}
                <div class="ui card">
                    <div class="content">
                      <div class="header">
                        <a href="{{project.url_path}}">{{project.name}}</a>
                      </div>
                    </div>
                    <div class="content body-content">
                      <div class="description">
                        {{project.description}}
                      </div>
                      <img class="right floated ui image" src={{project.image}}>
                    </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}
      </div>
  </div>  
</body>

{% endblock %}