
{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}

<div style="height: 700px;">
  {% include 'web/_nav.html' %}
    <div class="ui main text container">
        <h1 class="ui header">Projects</h1>
        {% if project_list %}
          {% for project in project_list %}
            <div class="ui raised very padded text container segment project-card">
              <h2 class="ui header">{{ project.name }}</h2>
              <p>{{ project.description }}</p>
              <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQyDHBTILuOdRgKr2YA7lOjGKjQINCpfTp-ptqOEUs7cwy-QTvpUS_9_ePXOI3tD6FdvNZbtpQIWvuk/pub?output=csv" class="item" >
                <button class="ui button item"> Download Data</button>
              </a>
              <a href="{% url 'web:project_detail' project.id%}"><button class="ui button">Visualize Data</button></a>
              <a href="{% url 'web:project_detail' project.id%}"><button class="ui button">Benchmark</button></a>
              <a href="https://docs.google.com/document/d/1dFlhdqrhOumFIe2R1kGiSPkHdsr7RoLq9CUqLYQGV80/edit?usp=sharing" 
              target="_blank">
                <button class="ui button">View Research</button>
              </a>
            </div>
          {% endfor %}
        {% endif %}
    </div>  
  </a>
</div>
{% endblock %}