{% extends "base_uikit.html" %}

{% block content %}

{% load static %}
{% load sass_tags %}
<script type='text/javascript' src='https://tableau.dsc.umich.edu/javascripts/api/viz_v1.js'></script>

<div>
    {% include 'web/_nav.html' %}
    <div class="ui main text container">
        <h1 class="ui header">Think Paper on Digital Identification</h1>
        <p>Digital identification and biometric data have become increasingly popular in the private sector and have slowly been introduced and piloted in governmental and non-governmental organizations in the emerging world.</p>
        <p>The IFRC S2030 Think Piece on Digital Identification summarizes research into how biometric data, digital identification, and blockchain technology have and will take part in the lives of vulnerable populations in refugee camps.</p>
   
        <a href="https://drive.google.com/file/d/17sz0ih_1RQ91IcyMTRn3Tmb4LUgw65wt/view">
            <img alt="Research Poster">
        </a>
    </div>
</div>


{% endblock %}
